.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/app/build
/maps-util-library/

/app/build/generated/source/buildConfig/debug/uk/co/threeequals/ratemyview/BuildConfig.java

/app/app-release.apk

/app/app-Testing-release.apk

/app/app.iml
