<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.threeequals.ratemyview"
    android:versionCode="10"
    android:versionName="4" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="22" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_launcher"
        android:name="com.orm.SugarApp"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light" >

        <!-- Sugar ORM -->
        <meta-data android:name="DATABASE" android:value="ratemyview.db" />
        <meta-data android:name="VERSION" android:value="1" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="uk.co.threeequals.ratemyview" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA74_rzek4lAlRLhV_gyUrX-QBbLAoJZbw"/>

        <activity
            android:name=".BaseActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="uk.co.threeequals.ratemyview.MyViewActivity"
            android:label="@string/title_activity_my_view" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BaseActivity" />
        </activity>

        <activity
            android:name="uk.co.threeequals.ratemyview.TheirViewActivity"
            android:label="@string/title_activity_their_view" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BaseActivity" />
        </activity>

        <service
            android:name="com.alexbbb.uploadservice.UploadService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="uk.co.threeequals.ratemyview.uploadservice.action.upload"/>
            </intent-filter>
        </service>

    </application>

</manifest>